.tiled-background-squares {
  background:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 0.5px, transparent 1px) 0 0 / 8px 8px,
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0.5px, transparent 1px) 0 0 / 8px 8px;
  background-color: rgb(14, 14, 14);
}

.grainy-background {
  background-image: url('/noise1.png');
  background-size: auto;
  opacity: 0.8;
}