.large-tiled-background-squares {
  background:
    linear-gradient(to right, rgba(255, 255, 255, 0.04) 0.5px, transparent 1px) 0 0 / 20px 20px,
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0.5px, transparent 1px) 0 0 / 20px 20px;
  background-color: rgb(24, 24, 24);
}

.transparent-checkerboard-background {
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.04) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(255, 255, 255, 0.04) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.04) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, 0.04) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-color: rgb(24, 24, 24);
}

.noisy-background-7-3 {
  background-image: url('/noise2_7_3.png');
  background-size: auto;
}

.noisy-background-7-3-low-res {
  background-image: url('/noise2_7_3.png');
  background-size: 15%;
}

.noisy-background-16-2 {
  background-image: url('/noise2_16_2.png');
  background-size: auto;
}

.noisy-background-16-2-low-res {
  background-image: url('/noise2_16_2.png');
  background-size: 15%;
}

.noisy-background-20-2 {
  background-image: url('/noise2_20_2.png');
  background-size: auto;
}

.noisy-background-20-2-low-res {
  background-image: url('/noise2_20_2.png');
  background-size: 15%;
}

.noisy-background-20-3 {
  background-image: url('/noise2_20_3.png');
  background-size: auto;
}

.noisy-background-20-3-low-res {
  background-image: url('/noise2_20_3.png');
  background-size: 15%;
}

.noisy-background-23-2 {
  background-image: url('/noise2_23_2.png');
  background-size: auto;
}

.noisy-background-23-2-low-res {
  background-image: url('/noise2_23_2.png');
  background-size: 15%;
}

.noisy-background-26-2 {
  background-image: url('/noise2_26_2.png');
  background-size: auto;
}

.noisy-background-26-2-low-res {
  background-image: url('/noise2_26_2.png');
  background-size: 15%;
}

.noisy-background-32-3 {
  background-image: url('/noise2_32_3.png');
  background-size: auto;
}

.noisy-background-32-3-low-res {
  background-image: url('/noise2_32_3.png');
  background-size: 15%;
}

.animated-font {
  animation: text-focus 11s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes text-focus {

  0%,
  5%,
  100% {
    color: rgba(227, 227, 227, 1);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);

  }

  40% {
    color: rgba(227, 227, 227, 1);
    text-shadow: 0px 0px 20px rgba(255, 255, 255. 0.9);
  }

  60% {
    color: rgba(227, 227, 227, 1);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
  }

  75% {
    color: rgb(227, 227, 227);
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
}

.hoverable-button {
  transition: all 0.15s ease-in-out;
  background: none;
}

.hoverable-button.is-active {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  cursor: pointer;
}

.hoverable-button.is-active:hover {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1));
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 10px 1px;
}

@property --grad-color {
  syntax: '<color>';
  initial-value: rgba(23, 23, 23, 1);
  inherits: false;
}

.animated-button-dark {
  cursor: pointer;
  transition: --grad-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background: linear-gradient(45deg, rgba(25, 25, 25, 1), var(--grad-color));
}

.animated-button-dark:hover {
  --grad-color: rgba(35, 35, 35, 1);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 10px 1px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --color-primary {
  syntax: '<color>';
  initial-value: rgb(140, 121, 179);
  inherits: false;
}

@property --color-secondary {
  syntax: '<color>';
  initial-value: rgb(21, 21, 21);
  inherits: false;
}

@property --color-tertiary {
  syntax: '<color>';
  initial-value: rgb(40, 40, 40);
  inherits: false;
}

.glowing-border {
  border: 1px solid transparent;
  border-radius: 10px;
  background:
    linear-gradient(rgb(25, 25, 25), rgb(23, 23, 23)) padding-box,
    conic-gradient(from var(--angle),
      var(--color-primary, rgb(140, 121, 179)),
      var(--color-secondary, rgb(21, 21, 21)),
      var(--color-tertiary, rgb(40, 40, 40)),
      var(--color-tertiary, rgb(40, 40, 40)),
      var(--color-secondary, rgb(21, 21, 21)),
      var(--color-primary, rgb(140, 121, 179))) border-box;

  appearance: none;
  animation: rotateGradient 8s linear infinite;
}

@keyframes rotateGradient {
  to {
    --angle: 360deg;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(25, 25, 25) inset !important;
  -webkit-text-fill-color: rgb(229, 229, 229) !important;
  border: 1px solid rgb(50, 50, 50) !important;
  outline: none !important;
  font-family: var(--font-della-respira), serif !important;
}

input:-webkit-autofill::first-line {
  font-family: var(--font-della-respira), serif !important;
}

.animated-nav-dark {
  cursor: pointer;
  transition: text-shadow 0.2s ease-in-out;
}

.animated-nav-dark:hover {
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}