:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  /* Hides scrollbar for IE and older Edge */
  scrollbar-width: none;
  /* Hides scrollbar for Firefox */
}

*::-webkit-scrollbar {
  display: none;
}